* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  gap: 2rem;
}

h1,
h2,
h3 {
  margin-top: 2rem;
}

button {
  width: 8rem;
  height: 3rem;
  background-color: aqua;
  color: black;
  font-size: large;
  border-radius: 5px;
}

.number-entered {
  width: 8rem;
  height: 3rem;
  font-size: large;
  font-weight: 600;
  text-align: center;
}
